##Strings

1. Create 3 variables to store street, city and country, now create address variable to store entire address.
Use two ways of creating this variable, one using + operator and the other using f-string.
Now Print the address in such a way that the street, city and country prints in a separate line

In [ ]:
street = "12, Dubai Twisting Lane"
city = "Dubai"
country = "United Arab Emirates"

address_plus = street + "\n" + city + "\n" + country

address_fstring = f"{street}\n{city}\n{country}"

print("Address using + operator:")
print(address_plus)

print("\nAddress using f-string:")
print(address_fstring)

2.Create a variable to store the string "Earth revolves around the sun"
Print "revolves" using slice operator
Print "sun" using negative index

In [ ]:
string= "Earth revolves around the sun"
print(string[6:14])
print(string[-3:])

3. 3. Create two variables to store how many fruits and vegetables you eat in a day.

Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday.

Use python f string for this.

In [ ]:
fruits=2
vegetables=5
print(f" I eat {vegetables} veggies and {fruits} daily")

 4. I have a string variable called s='maine 200 banana khaye'. This of course is a
 wrong statement, the correct statement is 'maine 10 samosa khaye'.

 Replace incorrect words in original strong with new ones and print the new string.

Also try to do this in one line.

In [ ]:
str='maine 200 banana khaye'
str=str.replace('banana','samosa')
str=str.replace('200','10')
print("Using two line replace:",str)

In [ ]:
str='maine 200 banana khaye'
str=str.replace('banana','samosa').replace('200','10')
print("Using single line:",str)