## Python Data Structures and Boolean

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered
false or true).

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [ ]:
False

False

In [ ]:
print(True,False)

True False

In [ ]:
type(True)

bool

In [ ]:
type(False)

bool

In [ ]:
my_str='Krish123'

In [ ]:
my_str.istitle()

True

In [ ]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

True
False
False
True
False
False
False
False
True

### Boolean and Logical Operators

In [ ]:
True and True

True

In [ ]:
True and False

False

In [ ]:
True or False

True

In [ ]:
True or True

True

In [ ]:
str_example='Hello World'
my_str='Danush Grokr'

In [ ]:
my_str.isalpha() or str_example.isnumeric()

False

In [ ]:
my_str.isalpha() or str_example.isalpha()

False

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [ ]:
type([])

list

In [ ]:
lst_example=[]

In [ ]:
type(lst_example)

list

In [ ]:
lst=list()

In [ ]:
type(lst)

list

In [ ]:
lst=['Mathematics', 'chemistry', 100, 200, 300]

In [ ]:
len(lst)

5

In [ ]:
type(lst)

list

### Append

In [ ]:
#.append is used to add elements in the list
lst.append("Danush")

In [ ]:
lst.append(["John","Bala"])

In [ ]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 'Danush', ['John', 'Bala']]

In [ ]:

##Indexing in List
lst[6]

['John', 'Bala']

In [ ]:
lst[1:6]

['chemistry', 100, 200, 300, 'Danush']

### Insert

In [ ]:
## insert in a specific order

lst.insert(2,"Grokr")

In [ ]:
lst

['Mathematics',
 'chemistry',
 'Grokr',
 100,
 200,
 300,
 'Danush',
 ['John', 'Bala']]

In [ ]:
lst.append(["Hello","World"])

In [ ]:
lst

['Mathematics',
 'chemistry',
 'Grokr',
 100,
 200,
 300,
 'Danush',
 ['John', 'Bala'],
 ['Hello', 'World']]

In [ ]:
lst=[1,2,3]

In [ ]:
lst.append([4,5])

In [ ]:
lst

[1, 2, 3, [4, 5]]

### Extend Method

In [ ]:
lst=[1,2,3,4,5,6]

In [ ]:
lst.extend([8,9])

In [ ]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

### Various Operations that we can perform in List

In [ ]:
lst=[1,2,3,4,5]

In [ ]:
sum(lst)

15

In [ ]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop() Method

In [ ]:
lst.pop()

5

In [ ]:
lst

[1, 2, 3, 4]

In [ ]:
lst.pop(0)

1

In [ ]:
lst

[2, 3, 4]

### count():Calculates total occurrence of given element of List

In [ ]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [ ]:
#length:Calculates total length of List
len(lst)

6

In [ ]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [ ]:
##Min and Max
min(lst)

1

In [ ]:
max(lst)

5

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [ ]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [ ]:
set_var={1,2,3,4,3}

In [ ]:
set_var

{1, 2, 3, 4}

In [ ]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'IronMan', 'Hitman', 'Avengers'}

set

In [ ]:
## Inbuilt function in sets

set_var.add("Hulk")

In [ ]:
print(set_var)

{'IronMan', 'Hitman', 'Hulk', 'Avengers'}

In [ ]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [ ]:
set2.intersection_update(set1)

In [ ]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [ ]:
##Difference
set2.difference(set1)

set()

In [ ]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [ ]:
## Difference update

set2.difference_update(set1)

In [ ]:
print(set2)

set()

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

A dictionary is a collection that stores information in pairs — one part called a key and the other a value.

You use the key to find the value that goes with it, like looking up a word to find its meaning. Each key is unique, and every value is linked to one key.

Dictionaries are used to organize data so it’s easy to search, group, or update. In simple terms, it’s a structure for matching “this” with “that.”

In [ ]:
dic={}

In [ ]:
type(dic)

dict

In [ ]:
type(dict())

dict

In [ ]:
set_ex={1,2,3,4,5}

In [ ]:
type(set_ex)

set

In [ ]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [ ]:
type(my_dict)

dict

In [ ]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [ ]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [ ]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [ ]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [ ]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [ ]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [ ]:
my_dict['Car1']='MAruti'

In [ ]:
my_dict

{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

### Nested Dictionary

In [ ]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [ ]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [ ]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [ ]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

A tuple is an ordered collection of items — kind of like a list — but it can’t be changed once created.

You can think of it as a fixed package of data. Each item has a specific position, and the order stays the same.

Tuples are often used when you want to group information that naturally belongs together but shouldn’t be modified — for example, coordinates, dates, or database records.

They’re reliable, lightweight, and slightly faster than lists because of that immutability.

In [ ]:
## create an empty Tuples

my_tuple=tuple()

In [161]:
type(my_tuple)

tuple

In [162]:
my_tuple=()

In [163]:
type(my_tuple)

tuple

In [164]:
my_tuple=("Danush","Sanjay","Sanjana","Kavya", "Karthick","Danush","karthick","Emmy")
my_tuple

('Danush',
 'Sanjay',
 'Sanjana',
 'Kavya',
 'Karthick',
 'Danush',
 'karthick',
 'Emmy')

In [165]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Danush', 'Sanjay', 'Sanjana', 'Kavya', 'Karthick', 'Danush', 'karthick', 'Emmy')

In [166]:
type(my_tuple)

tuple

In [167]:
## Inbuilt function
my_tuple.count('Danush')

2

In [168]:
my_tuple.index('Emmy')

7

In [170]:
# 1 Access by index
my_tuple[3]

'Kavya'

In [177]:
#  Access from the end (negative index)
print(my_tuple[-2])

karthick

In [178]:
#  Slice a range (index 2 to 4, exclusive of 5)
print(my_tuple[2:5])

('Sanjana', 'Kavya', 'Karthick')

In [179]:
#  Find first occurrence of a value
print(my_tuple.index("Danush"))

0

In [ ]:
# Count how many times something appears
print(my_tuple.count("Danush"))

2

In [180]:
# Loop through tuple values
for i, name in enumerate(my_tuple):
    print(f"Index {i}: {name}")

Index 0: Danush
Index 1: Sanjay
Index 2: Sanjana
Index 3: Kavya
Index 4: Karthick
Index 5: Danush
Index 6: karthick
Index 7: Emmy

In [181]:
#  Access with a variable index
index_value = 3
print(my_tuple[index_value])

Kavya

In [ ]:
# ==============================================================
# 🐍 PYTHON MINI PROJECT – "All-in-One Interactive Concepts Demo"
# Author: Danush (you 😉)
# Description: A single interactive Python script that demonstrates
#              core Python concepts in one place.
# ==============================================================

print("===== WELCOME TO PYTHON CONCEPTS DEMO =====")

# --------------------------------------------------------------
# 1️⃣ VARIABLES, DATA TYPES, AND TYPE CASTING
# --------------------------------------------------------------
print("\n--- Variables & Data Types ---")
a = input("Enter a number: ")
b = input("Enter another number: ")
a = int(a)
b = float(b)

print(f"a = {a} (type: {type(a).__name__})")
print(f"b = {b} (type: {type(b).__name__})")

# Type casting
sum_result = a + int(b)
print("Sum after type casting:", sum_result)

# --------------------------------------------------------------
# 2️⃣ ARITHMETIC & ASSIGNMENT OPERATORS
# --------------------------------------------------------------
print("\n--- Arithmetic & Assignment Operators ---")
print(f"Addition: {a + b}")
print(f"Subtraction: {a - b}")
print(f"Multiplication: {a * b}")
print(f"Division: {a / b}")
print(f"Modulus: {a % b}")

a += 5
print("After a += 5 →", a)

# --------------------------------------------------------------
# 3️⃣ BOOLEAN, LOGICAL, & COMPARISON OPERATORS
# --------------------------------------------------------------
print("\n--- Boolean, Logical, and Comparison Operators ---")
bool1 = bool(int(input("Enter 1 for True or 0 for False: ")))
bool2 = bool(int(input("Enter another (1 for True, 0 for False): ")))

print(f"{bool1} AND {bool2} → {bool1 and bool2}")
print(f"{bool1} OR {bool2} → {bool1 or bool2}")
print(f"NOT {bool1} → {not bool1}")

x = int(input("Enter a number to compare: "))
y = int(input("Enter another number to compare: "))

print(f"{x} == {y} → {x == y}")
print(f"{x} > {y} → {x > y}")
print(f"{x} <= {y} → {x <= y}")

# --------------------------------------------------------------
# 4️⃣ STRINGS
# --------------------------------------------------------------
print("\n--- String Operations ---")
text = input("Enter a word or sentence: ")
print("Uppercase:", text.upper())
print("Lowercase:", text.lower())
print("Reversed:", text[::-1])
print("Word count:", len(text.split()))

# --------------------------------------------------------------
# 5️⃣ LISTS
# --------------------------------------------------------------
print("\n--- List Operations ---")
lst = input("Enter list elements separated by spaces: ").split()
print("Original List:", lst)
lst.append(input("Add an element to the end: "))
lst.insert(0, input("Insert an element at the beginning: "))
print("After modifications:", lst)
lst.pop()
print("After pop:", lst)
lst.sort()
print("After sort:", lst)
print("Slice (first 3 elements):", lst[:3])

# --------------------------------------------------------------
# 6️⃣ TUPLES
# --------------------------------------------------------------
print("\n--- Tuple Operations ---")
tup = tuple(input("Enter tuple elements separated by spaces: ").split())
print("Tuple:", tup)
print("Length:", len(tup))
print("First element:", tup[0] if tup else "Empty tuple")

# --------------------------------------------------------------
# 7️⃣ SETS
# --------------------------------------------------------------
print("\n--- Set Operations ---")
set1 = set(input("Enter Set 1 elements: ").split())
set2 = set(input("Enter Set 2 elements: ").split())

print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference (Set1 - Set2):", set1 - set2)
print("Symmetric Difference:", set1 ^ set2)

# --------------------------------------------------------------
# 8️⃣ DICTIONARIES
# --------------------------------------------------------------
print("\n--- Dictionary Operations ---")
d = {}
n = int(input("How many key-value pairs? "))
for i in range(n):
    key = input("Enter key: ")
    val = input("Enter value: ")
    d[key] = val
print("Dictionary:", d)

search = input("Enter a key to search: ")
print("Value:", d.get(search, "Not found"))
remove = input("Enter a key to remove: ")
d.pop(remove, None)
print("After removal:", d)

# --------------------------------------------------------------
# 9️⃣ CONDITIONALS
# --------------------------------------------------------------
print("\n--- Conditional Statements ---")
num = int(input("Enter a number to check if even/odd: "))
if num % 2 == 0:
    print(f"{num} is Even")
else:
    print(f"{num} is Odd")

# --------------------------------------------------------------
# 🔟 LOOPS
# --------------------------------------------------------------
print("\n--- Loops ---")
limit = int(input("Enter a number to loop up to: "))
print("For Loop:")
for i in range(1, limit + 1):
    print(i, end=" ")

print("\nWhile Loop:")
count = 1
while count <= limit:
    print(count, end=" ")
    count += 1

# --------------------------------------------------------------
# 1️⃣1️⃣ FUNCTIONS
# --------------------------------------------------------------
print("\n\n--- Functions ---")
def greet(name):
    return f"Hello, {name}! Welcome to the Python Demo."

user_name = input("Enter your name: ")
print(greet(user_name))

def add_numbers(x, y):
    return x + y

x = int(input("Enter first number for function: "))
y = int(input("Enter second number: "))
print("Sum using function:", add_numbers(x, y))

# --------------------------------------------------------------
# ✅ END OF PROGRAM
# --------------------------------------------------------------
print("\n🎯 End of Python Concepts Demo – You’ve just run a full mini-project!")

===== WELCOME TO PYTHON CONCEPTS DEMO =====

--- Variables & Data Types ---
Enter a number: 88
Enter another number: 9999
a = 88 (type: int)
b = 9999.0 (type: float)
Sum after type casting: 10087

--- Arithmetic & Assignment Operators ---
Addition: 10087.0
Subtraction: -9911.0
Multiplication: 879912.0
Division: 0.0088008800880088
Modulus: 88.0
After a += 5 → 93

--- Boolean, Logical, and Comparison Operators ---